<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type ='text/css' href ='/css/styles.css'>
    <title>Movie App</title>
</head>
<body>


     <h1>Guess Movie</h1>

     <form id ='search-form'>
         <input type="text" id='input' class='searchInput'  placeholder="Search your movies">
         <button class='searchBtn'>Search</button>
     </form>


    <div class="card-wrapper">
        <div class="movie-card" id="movie-card">
        <img id='img' src="" alt="">
        <div class="movie-card-title">
            <h3 id='title'></h3>
        </div>
        <hr>
        <div class="movie-card-content">
            <p id='director'></p>
            <p id='rating'></p>
            <p id='year'></p>
        </div>
    </div>
    </div>


     <script src='./js/app.js'></script>
</body>
</html>