@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;400;700&display=swap');

body {
    background-color: cadetblue;
}

h1, h3{
    text-align: center;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    color: white;
}
#search-form {
    text-align: center;
}

.movie-card {
    visibility: hidden;
    font-family: 'Spartan', sans-serif;
    background-color: teal;
    color: white;
    margin: 50px;
    border-radius: 25px;
    max-width: 300px;
}
.movie-card-content {
    padding: 30px;
}